<template>
  <div>
    <h1>My To Do List</h1>
    <br>
    <input id="input" v-model="newItem" >
    <button id="button" @click="addItemToList">Add</button>
    <!-- displays list -->
    <ul>
      <li v-for="item in listItems" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'List',
  data() {
    return {
      listItems: ['buy food', 'play games', 'sleep'],
      newItem: '',
    };
  },
  methods: {
    addItemToList() {
      this.listItems.push(this.newItem);
      this.newItem = '';
    },
  },
};
</script>
